{% extends 'layout.html' %} {% block content %}

{% if is_done %} 
<h1>Mailing List Updated</h1>
<b>{{uname}}</b> was successfully added to the Mailing List.
    
{% else %}  

  <h1>Join our Mailing List</h1>
  <form action="/add.html" method="POST" class="box">
  <div>
    <label class="form-label">Email address</label>
    <input
      name="email"
      type="email"
      class="form-control"
      id="email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2, 4}$"
      placeholder="name@example.com"
    />
  </div>
  <div>
    <label class="form-label">Name</label>
    <textarea class="form-control" name="name" id="name" rows="1"></textarea>
  </div>
  <br />
  <div>
    <button type="submit" class="btn">Submit</button>
  </div>
</form>
{% endif %}

{% endblock %}
